@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    
    box-sizing: border-box;
    font-family: 'itim';
    margin: 0;
    padding: 0;
}
html{
    /*deslizar*/
    scroll-behavior: smooth;
}
/* MENU*/
.contenedor-header{
    background: #102b1c ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99 ;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px ;
}
.contenedor-header header .logotipo a{
    font-family:'itim' ;
    font-size: 36px;
    color: #aaf7a6 ;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #DAF7A6;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: rgb(11, 125, 87);
}
.nav-responsive{
    background-color: rgb(10, 162, 111);
    color: #DAF7A6;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*Inicio*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1) ),
    url(Imagenes/gato.jpg);
    background-size: cover;
    height: 100vh;
    color: #DAF7A6 ;
    display: flex;
    align-items: center;
}
.inicio .contenedor-banner{
    padding: 20px;
    background-color:#24583c  ;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 60px;
}
.inicio .contenedor-banner img{
    margin-top: 40px;
    border: 10px solid #DAF7A6 ;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenedor-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'itim';
}
.inicio .contenedor-banner h2{
    font-size: 26px;
    font-weight: normal;
    margin-top: 7px;
}
.inicio .contenedor-banner .redes a{
    color: aquamarine;
    display: inline-block;
    text-decoration: none;
    border: 1px solid aquamarine;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenedor-banner .redes a:hover{
    background-color:#04351b;
}
.sobremi{
    background-color: #24583c;
    color: #DAF7A6;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'itim';
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color:#DAF7A6;
    font-weight:bolder;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'itim';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #04351b;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-loquemegusta{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-loquemegusta .gustar{
    width: 100px;
    height: 100px;
    background-color: #04351b;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .4s;
}
.sobremi .fila .col .contenedor-loquemegusta .gustar:hover{
    background-color: rgb(43, 186, 138);
}
.sobremi .fila .col .contenedor-loquemegusta .gustar i{
    font-size: 30px;
    margin-bottom: 10px;
}
/* Habilidades */
.skills{
    background-color: #05351a;
    color:#DAF7A6 ;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'itim';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'itim';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #48c87b;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1e8048;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* con java*/
.skills .skill .excel{
    width: 0%;
    animation: 2s excel forwards;
}
@keyframes excel {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 57%;}
}

.skills .skill .prevencionderiesgos{
    width: 0%;
    animation: 2s prevencionderiesgos forwards;
}
@keyframes prevencionderiesgos {
    0%{width: 0%;}
    100%{width: 72%;}
}

.skills .skill .ia{
    width: 0%;
    animation: 2s ia forwards;
}
@keyframes ia {
    0%{width: 0%;}
    100%{width: 54%;}
}

.skills .skill .digitacion{
    width: 0%;
    animation: 2s digitacion forwards;
}
@keyframes digitacion {
    0%{width: 0%;}
    100%{width: 68%;}
}

.skills .skill .empatia{
    width: 0%;
    animation: 2s empatia forwards;
}
@keyframes empatia {
    0%{width: 0%;}
    100%{width: 91%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .compromiso{
    width: 0%;
    animation: 2s compromiso forwards;
}
@keyframes compromiso {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .responsabilidad{
    width: 0%;
    animation: 2s responsabilidad forwards;
}
@keyframes responsabilidad {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .trabajoenequipo{
    width: 0%;
    animation: 2s trabajoenequipo forwards;
}
@keyframes trabajoenequipo {
    0%{width: 0%;}
    100%{width: 93%;}
}
/*Experiencia*/

.experiencia{
    background-color: #05351a;
    color:#DAF7A6 ;
    padding: 50px 20px;
}
.experiencia .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.experiencia h2{
    font-size: 48px;
    font-family: 'itim';
    text-align: center;
    padding: 20px 0;

}
.experiencia .fila{
    display: flex;
    justify-content: space-between;
}
.experiencia .fila .col{
    width: 49%;
    padding: 0 20px;
}
.experiencia .fila .col h3{
    font-size: 28px;
    font-family: 'itim';
    margin-bottom: 25px;
}
.experiencia .fila .izquierda{
    border-right: 2px solid #DAF7A6;
}
.experiencia .fila .derecha{
    border-left:  2px solid #DAF7A6;
}
.experiencia .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #082314;
    position: relative;
}
.experiencia .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.experiencia .fila .item .universidad{
    color: #55be83;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.experiencia .fila .item .fecha{
    display: block;
    color:#55be83;
    margin-bottom: 10px;
}
.experiencia .fila .item p{
    line-height: 24px;
}
.experiencia .fila .izq{
    border-right: 2px solid #55be83;
    margin-right: 20px;
}
.experiencia .fila .der{
    border-left: 2px solid #55be83;
    margin-left: 20px;
}
.experiencia .fila .item .conectori{
    height: 2px;
    background-color: #55be83;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.experiencia .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #55be83;
    float: right;
    position: relative;
    bottom: 4px;
}
.experiencia .fila .item .conectord{
    height: 2px;
    background-color: #55be83;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.experiencia .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #55be83;
    float: left;
    position: relative;
    bottom: 4px;
}
/* Portafolio*/
.proyectos{
    background-color: #012715;
    color: #DAF7A6;
    padding: 50px 20px;
}
.proyectos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.proyectos h2{
    font-size: 48px;
    font-family: 'itim';
    text-align: center;
    padding: 20px 0;
}
.proyectos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.proyectos .galeria .programa{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.proyectos .galeria .programa img{
    width: 100%;
    display: block;
}
.proyectos .galeria .programa .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(3, 73, 59, 0.8), rgba(2, 71, 57, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.programa h3, .programa p {
    color: #DAF7A6;
}
.proyectos .galeria .programa .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.proyectos .galeria .programa .overlay:hover{
    opacity: 1;
}
.proyectos .galeria .programa .overlay:hover h3{
    margin-bottom: 0px;
}
/*Contacto*/
.contacto{
    background-image: url(Imagenes/contact_bg.png);
    background-color: #061f11;
    color: #DAF7A6;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'itim';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #1b3a25;
    color: #DAF7A6;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #DAF7A6;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #DAF7A6;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1e8048;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%; 
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #082314;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50% -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li {
    margin-bottom: 5px;
}
.contacto .col .info ul li i{
    color: #5ee730;
    display: inline-block;
    margin-right: 1px;
}
.error {
    color: rgba(163, 248, 5, 0.899);
    font-size: 0.9rem;
    margin-top: 5px;
}

footer{
    background-color:#061f11;
    color: #DAF7A6;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a {
    color: #DAF7A6;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #DAF7A6;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #DAF7A6;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    border-radius: 40%;
    line-height: 40px;
    font-size: 18px;
}

/*Responsive*/
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #061f11;
        width: 180px;
    }
    nav.responsive ul{
    display: block !important;
    }
    nav.resonsive ul li {
        border-bottom: 1px solid #061f11;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .experiencia .fila{
        display: block;
    }
    .experiencia .fila .col{
        width: 90%;
    }
    .experiencia .fila .derecha{
        margin-left: 20px;
    }

    .proyectos .galeria{
        display: block;
        width: 100%;
    }
    .proyectos .galeria .programa{
        max-width: 100%;
    }
    .proyectos .galeria .programa img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}